.navbar {
    padding: 20px 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .social-links {
    display: flex;
    gap: 40px;
}

.social-links a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.social-links a:hover {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}